@import "reset";

@import "header";


/* Z-INDEX TABLE */



body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.section {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  overflow: hidden;

  &--arad {
    background: #d9d9d9;
    background: -moz-linear-gradient(45deg, #d9d9d9 0%, #fafafa 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #d9d9d9), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(45deg, #d9d9d9 0%, #fafafa 100%);
    background: -o-linear-gradient(45deg, #d9d9d9 0%, #fafafa 100%);
    background: -ms-linear-gradient(45deg, #d9d9d9 0%, #fafafa 100%);
    background: linear-gradient(45deg, #d9d9d9 0%, #fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#fafafa', GradientType=1 );
  }
}



.slider-progress {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6px;
  z-index: 1;
  background-color: rgba(75,75,75,0.2);
}
.slider-progress .progress {
  width: 0%;
  height: 6px;
  background: #4B4B4B;
}

.hidden {
  visibility: hidden;
}
@import "square-artist";
@import "square-info";
@import "arad";